@charset "utf-8";
@use "./mixin" as *;
// フォント読み込み

// 変数指定

// css変数
:root {
  // フォントサイズ
  --h1_fz: 50px;
  --h2_fz: 32px;
  --h3_fz: 20px;
  --txt_fz: 16px;
  @include mq() {
    --h1_fz: 32px;
    --h2_fz: 22px;
    --h3_fz: 16px;
    --txt_fz: 14px;
  }

  // カラー
  --l_color: #ffffff;
  --d_color: #333333;
  --m_color: #363636;
  --s-color1: #666666;
  --s-color2: #cccccc;
}

